.container {
    width: 541px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

.thumb {
    width: 461px;
    /* height: 341px; */
    overflow: hidden;
}

.image {
    display: block;
    width: 461px;
    /* height: 248px; */
    border-radius: 14px;
    object-fit: cover;
}

.model {
    color: blue;
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 50px;
    margin-bottom: 40px;
    border-radius: 12px;
    background: #3470FF;
    border: none;
}

.tel {
    color:white;
    text-decoration: none;
}